#ratatouille {
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: grayscale(100%) drop-Shadow(10px 10px);
}
#rataconfalda {
  display: block;
  margin-left: 10px;
  margin-right: 200px;
  filter: grayscale(100%) drop-Shadow(30px 30px);
}
#rataebria {
  display: block;
  margin-left: 200px;
  margin-right: 10px;
  filter: grayscale(100%) drop-Shadow(30px 30px);
}
